.clients {
}

.clients__list {
	display: flex;
	justify-content: center;
	gap: 30px;

	@media screen and (max-width: 1199px) {
		flex-wrap: wrap;
	}
}

.clients__item {
	@media screen and (max-width: 767px) {
		width: calc(50% - 30px);
	}

	@media screen and (min-width: 768px) {
		width: calc(33.3333% - 30px);
	}

	@media screen and (min-width: 1200px) {
		width: 170px;
	}
}

.team__avatar {
}

.clients__link {
	height: 92px;
	border: 1px solid var(--gray-color);
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: var(--accent-color);
	}

	&:hover .clients__icon,
	&:focus .clients__icon {
		fill: var(--accent-color);
	}
}

.clients__icon {
	fill: var(--gray-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
