.portfolio__container {
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	margin-top: -30px;
}

.portfolio__item {
	@media screen and (max-width: 767px) {
		flex-basis: calc(100% / 1 - 30px);
	}
	@media screen and (min-width: 768px) {
		flex-basis: calc(100% / 2 - 30px);
	}
	@media screen and (min-width: 1199px) {
		flex-basis: calc(100% / 3 - 30px);
	}
	margin-left: 30px;
	margin-top: 30px;
}

.portfolio__link {
	background: var(--background-body-color);
	text-decoration: none;
	display: block;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	&:hover .thumb__content,
	&:focus .thumb__content {
		transform: translateY(0px);
	}
}

.portfolio__thumb {
	overflow: hidden;
	position: relative;
}

.thumb__content {
	position: absolute;
	content: "";
	@media screen and (max-width: 767px) {
		padding: 77px 24px;
	}
	@media screen and (min-width: 768px) {
		padding: 49px 24px 77px 24px;
	}
	@media screen and (min-width: 1200px) {
		padding: 63px 24px;
	}
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);

	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.03em;

	color: var(--white-color);

	transform: translateY(300px);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);
	margin-bottom: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.card__content {
	padding: 20px 24px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	border-left: 1px solid var(--portfolio-card-border-color);
	border-right: 1px solid var(--portfolio-card-border-color);
	border-bottom: 1px solid var(--portfolio-card-border-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.portfolio__item:nth-child(1) .card__content {
		min-height: 146px;
	}
	.portfolio__item:nth-child(2) .card__content {
		min-height: 146px;
	}
}
