.switch-theme {
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch-theme-slider {
    position: absolute;
    visibility: hidden;
}

.custom-switch-theme {
    display: block;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background-color: var(--secondary-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
        content: '';
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%) scale(0.8);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-image: var(--current-theme);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--background-body-color);

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.switch-theme-slider:checked+.custom-switch-theme {
    background-color: var(--secondary-text-color);
}

.switch-theme-slider:checked+.custom-switch-theme::after {
    background-image: var(--current-theme);
    background-color: var(--background-body-color);
}